@charset "UTF-8";

.tween-fix
{
	backface-visibility: hidden;
}

.hide
{
	visibility: hidden;
}

html, body
{
	width: 100%;
	height: 100%;

	background: #000;
}

#display-wrapper
{
	width: 100%;
	height: 100%;
	position: relative;

	overflow: hidden;

	font-family: 'Varela', sans-serif;

	font-family: 'Alegreya', serif;

	font-family: 'Libre Barcode 39 Text', cursive;

	font-size: 10vw;
}

.display-content
{
	width: inherit;
	height: inherit;
	position: inherit;
}

.display-type-wrapper
{
	width: inherit;
	height: inherit;
	position: absolute;
	left: 0; top: 0;
}

.display-type-default
{
	transform: translateY(-100%);
}

.display-type-content
{
	width: auto;
	height: auto;
	position: absolute;

	top: 0;

	background: rgba(237, 247, 237, 0.8);

	-webkit-filter: blur(0.3px);
	filter: blur(0.3px);

	box-shadow: 0px 1px 14px rgba(10, 10, 10, 0.2);

	transition: 300ms ease-out;
}

.display-type-content p
{
	display: inline-block;

	font-weight: bolder;
	font-weight: normal;
	line-height: 1;
	word-wrap: break-word;

	color: rgba(21, 21, 21, 0.9);

	text-shadow: 0px 1px 14px rgba(95, 67, 204, 0.2);
}

.display-type-content .display-type
{
	text-align: left;

	padding: 0 0.2em 0.2em 0;

	font-size: 1em;
}

.display-type-wrapper
{
	width: inherit;
	height: inherit;
	position: absolute;
	bottom: 0; right: 0;
}

.display-temp-content
{
	width: auto;
	height: auto;
	position: absolute;

	/*top: 0;*/
	bottom: 0; right: 0;

	background: rgba(237, 247, 237, 0.8);
	box-shadow: 0px -1px 14px rgba(10, 10, 10, 0.2);

	-webkit-filter: blur(0.3px);
	filter: blur(0.3px);

	transition: 300ms ease-out;	
}

.display-temp-wrapper .display-temp
{
	font-size: 0.5em;
	text-align: right;
	line-height: 1;
	padding: 0 0 0.1em 0.1em;

	color: rgba(21, 21, 21, 0.9);
}

.display-temp-default
{
	transform: translateY(100%);
}


.display-gif
{
	width: inherit;
	height: inherit;
	position: inherit;

	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;

/*	outline: 100px solid #fff;
	outline-offset: -100px;*/
}

.screen-fx
{
	width: 150%;
	height: 150%;
	position: absolute;
	left: 0; right: 0; top: 0; bottom: 0;
	margin: auto;

	background-image: url(../img/interlace.png);
	background-position: center center;
	background-repeat: repeat;
	background-size: 4px 4px;

	animation: screenfxFrames 100ms linear infinite;
}

@keyframes screenfxFrames
{
	0%		{transform: translateY(0px);}
	100%	{transform: translateY(-4px);}
}



@media only screen and (min-width: 300px)
{
	#display-wrapper
	{
		/*font-size: 25px;*/
	}	
}

@media only screen and (min-width: 600px)
{
	#display-wrapper
	{
		/*font-size: 50px;*/
	}	
}

@media only screen and (min-width: 900px)
{
	#display-wrapper
	{
		/*font-size: 75px;*/
	}
}

@media only screen and (min-width: 1200px)
{
	#display-wrapper
	{
		/*font-size: 100px;*/
	}
}


